/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

/*รท font color #4a4a4a
	link color #e56676 
	grey box #edeced
	nav border and membership grey #cecece
	button color #db2c42
	complete registration blue #60dbff
	foot nav links #57bad8
	foot grey box #333333
	grey font color #9c9a9b
	**/


/***** GENERIC STYLES *************/
/**********************************/

body{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #4a4a4a;
}

a{
	color: #e56676 
}


img{
	display: block;
	margin: 0 auto;
}

h1, h2, h3 {
	font-family: Arial, sans-serif;
	color: black;
}

footer {
	background-color: #333333;
	margin-top: 25px;
	padding: 50px 20px 40px 20px;
}

header{
	border-bottom: 2px solid #cecece;
}

li{
	margin-bottom: 5px;
}

/***** SPECIFIC STYLES ************/
/**********************************/

.wrapper{
 	width: 90%;
    margin: 0 auto;
    max-width: 1024px;
}

.main_nav, .bottom_info{
    display: block;
}

.main_nav ul, .bottom_info ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    /*border-bottom: 1px solid #cecece;*/
}

.main_nav li, .bottom_info li{
    display: block;
}

.main_nav a, .bottom_info a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border: 1px solid #cecece;
    border-bottom: none;
    border-radius: 5pt;
}

.main_nav li:last-child a, .bottom_info li:last-child a{
    display: block;
    border-bottom: 1px solid #cecece;
}

.main_grey_box, .form_grey_box {
	background-color: #edeced;
	width: 100%;
	margin: 10% 0% 10% 0%;

}

.search_bar{
	width: 90%;
	margin: 0 auto;
	padding: 3% 0;
}

.search_box{
	width: 100%;
}


.search_box input{
	display: block;
	width: 100%;
	height: 30px;
	border-radius: 5px;
}

.search_button {
	width: 90%;
	margin: 5% 0 0 0;
	background-color: #db2c42;
	border-radius: 5px;
	text-align: center;
	padding: 5pt 6%;
	/*margin: 0 auto;*/
}

.search_button a{
	color: white;
	text-shadow: 0px 2px 5px rgba( 0,0,0,0.5);
	text-decoration: none;
}

.main_content h1{
	margin-top: 30px;
}

.membership_benefits {
	border-bottom: 2px solid #cecece;
	padding-bottom: 20px;
}

.form_grey_box{
	padding: 20px;
	width: 90%;
	margin-bottom: 45px;
}

.form_grey_box h3{
	margin: 30px 0 10px 0;
}

.form_grey_box input{
	display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form_grey_box label{
	margin: 5px 0px 5px 0px;
}

.membership_grey article{
	background-color: white;
	padding: 20px;
	margin-top: 15px;
}

.membership_grey h3{
	text-align: center; 
}

.membership_grey ul{
	padding-left: 25px;
}

.patron {
	margin-bottom: 15%;
}

.membership_level label{
	display: inline-block;
}

.registration_button {
	width: 88%;
	margin: 5% auto 0 auto;
	background-color: #db2c42;
	border-radius: 5px;
	text-align: center;
	padding: 8pt 6%;
}

.registration_button a{
	color: white;
	text-shadow: 0px 2px 5px rgba( 0,0,0,0.5);
	text-decoration: none;
}

.main_content p{
	text-transform: uppercase;
	color: #9c9a9b;
	font-family: Arial, sans-serif;
}

.membership_level input{
	display: inline-block;
	width: 6%;
	margin: 0;
}

.membership_level label{
	vertical-align: top;
	margin-top: 8px;
	display: inline-block;
	width: 90%;
}
.additional_options{
	border-bottom: 2px solid #cecece;
	padding-bottom: 50px;
}
.additional_options input{
	display: inline-block;
	width: 6%;
	margin: 0;
}

.additional_options label{
	vertical-align: top;
	margin-top: 8px;
	display: inline-block;
	width: 90%;
}

.bottom_info {
	border-top: 2px solid #cecece;
}

.tickets h3{
	margin-top: 50px;
}
footer p{
	color: white;
	text-align: center;
	margin: 0;
}

.footer_nav {
    display: block;
    margin-top: 50px;
}

.footer_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

.footer_nav li{
    display: inline-block;
    padding-right: 5px;
}

.footer_nav a{
    display: block;
  	color: #57bad8;
}

@media screen and (min-width: 600px){

/*	.main_form div{
		display: inline-block;*/

/*	.form_grey_box input{
		display: block;
	    width: 100%;
	    height: 40px;
	    border-radius: 5px;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}*/
	/*.first_half, .second_half{
		float: left;
		width: 0;
	}
	*/

	.footer_nav li{
		padding-right: 10px;
	}

	.form_grey_box{
	width: 94%;
	}

	/*.first_half, .second_half{
		float: left;
	}*/
/*	.main_form input {
		width: 100%;
	}*/

	.first_half, .second_half {
		display: inline-block;
		width: 46.5%
	}

	.first_half input, .second_half input{
		width: 100%;
	}

	.second_half {
		margin-left: 5%
	}

	.membership_level, .additional_options{
		display: inline-block;
		width: 49%;
	}

	.registration_button{
		padding: 10pt 0%;
		width: 40%;
		margin-right: 0%;
	}

	.bottom_info a{
		text-decoration: underline;
		text-align: left;
		border: none;
		padding: 0px;
	}

	.bottom_info li{
		margin: 0px;
	}

	.bottom_info section{
		float: left;
	}

	.membership h3, .donations h3{
		margin-top: 50px;
	}

	.membership, .donations{
		margin-left: 45px;
	}

	.membership{
		width: 25%;
	}

	.bottom_info li:last-child a {
		border: none;
	}

	footer {
		padding: 50px 15px 40px 15px;
	}

	.footer_nav li{
		padding-right: 7px;
	}

}

@media screen and (min-width: 800px){

	header img{
		margin: 0;
	}
	header {
		position: relative;
	}

	.search_bar {
		position: absolute;
		bottom: 30%;
		width: 55%;
		left: 52%;
	}

	.search_button{
		width: 24%;
		display: inline-block;
	}

	.search_box{
		width: 50%;
		display: inline-block;
	}

	.search_box input{
		display: inline-block;
		width: 95%;
	}


	.main_nav a{
		border: none;
		display: block;
		padding: 0;
	}

	.main_nav {
		border: 1px solid #cecece;
		border-radius: 3pt;
	}

	.main_nav li:last-child a {
		border: none;
		display: block;
	}

	.main_nav li{
		display: inline-block;
		padding: 10px 20px 10px 20px;
	}
	.main_nav ul{
		text-align: center;
	}

	header{
		border: none;
	}

	.registration_button{
		background-color: #60dbff;
	}

	.main_content {
		background-color: #edeced;
	    width: 97%;
	    margin: 5% 0% 5% 0%;
	    padding: 5px 10px 5px 10px;
	}

	.main_grey_box{
		margin: 0px 0px 0px 0px;
	}

	.membership_grey{
		background-color: #cecece;
	}

	.membership_grey article{
		padding: 5px 10px 10px 5px;
		width: 29.6%;
		float: left;
		margin-left: 9px;
	}

	.patron{
		margin-bottom: 10px;
	}

}

@media screen and (min-width: 1000px){

	.registration_button{
		background-color: #db2c42;
	}

	.bottom_info, .page_content {
		float: left;
	}

	.bottom_info{
		width: 25%;
		border-top: none;
	}

	.page_content {
		width: 70%;
	}

	.bottom_info section{
		margin-left: 30px;

	}

	.bottom_info {
		border-left: 2px solid #cecece;
		margin-left: 25px;
	}


	.membership {
		width: 100%;
	}

	.membership_grey article{
		padding: 5px 10px 10px 5px;
		width: 28.6%;
		float: left;
		margin-left: 9px;
	}
}




